<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MyDbContext" connectionString="Server=DESKTOP-AR1DGTC\SQLEXPRESS;Database=DbTest;Trusted_Connection=True;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="BaseAddressForClient" value="http://localhost:49776/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Metadata">
          <serviceAuthorization principalPermissionMode="Custom">
          </serviceAuthorization>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceCredentials>
            <serviceCertificate storeName="My" storeLocation="LocalMachine" x509FindType="FindByThumbprint" findValue="37 4b bc 98 46 f4 98 63 52 3c 71 57 e0 8a 46 46 53 ed 62 b5" />
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="ConsoleAppHost.UserPasswordValidator, ConsoleAppHost" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Rest">
          <webHttp helpEnabled="true" defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Xml" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Metadata" name="WcfServiceLibrary.Services.EventService">
        <endpoint address="eventService" binding="wsHttpBinding" bindingConfiguration="Message_UserName" contract="WcfServiceLibrary.ServicesInterfaces.IEventService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ConsoleAppHost/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Metadata" name="WcfServiceLibrary.Services.PurchaseService">
        <endpoint address="purchaseService" binding="wsHttpBinding" bindingConfiguration="Message_UserName" contract="WcfServiceLibrary.ServicesInterfaces.IPurchaseService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/ConsoleAppHost/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Metadata" name="WcfServiceLibrary.Services.VenueService">
        <endpoint address="venueService" binding="wsHttpBinding" bindingConfiguration="Message_UserName" contract="WcfServiceLibrary.ServicesInterfaces.IVenueService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8002/ConsoleAppHost/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Metadata" name="WcfServiceLibrary.Services.AreaService">
        <endpoint address="areaService" binding="wsHttpBinding" bindingConfiguration="Message_UserName" contract="WcfServiceLibrary.ServicesInterfaces.IAreaService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8003/ConsoleAppHost/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Metadata" name="WcfServiceLibrary.Services.LayoutService">
        <endpoint address="layoutService" binding="wsHttpBinding" bindingConfiguration="Message_UserName" contract="WcfServiceLibrary.ServicesInterfaces.ILayoutService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8004/ConsoleAppHost/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Metadata" name="WcfServiceLibrary.Services.SeatService">
        <endpoint address="seatService" binding="wsHttpBinding" bindingConfiguration="Message_UserName" contract="WcfServiceLibrary.ServicesInterfaces.ISeatServicece" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8005/ConsoleAppHost/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Metadata" name="WcfServiceLibrary.Services.PublicService">
        <endpoint address="publicService" binding="wsHttpBinding" contract="WcfServiceLibrary.ServicesInterfaces.IPublicService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8006/ConsoleAppHost/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="Message_UserName">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>